In [1]:
import pymongo
import pandas as pd
import os
from datetime import datetime, timedelta
from dotenv import load_dotenv

import pymongo.errors as mongo_errors

import certifi

import mysql.connector
from mysql.connector import Error
import random

from itertools import count

import numpy as np
import time

# DB Connections & Setup

In [2]:
# Load environment variables from .env file
load_dotenv()

True

## SQL

In [3]:
# Get the connection parameters from environment variables
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_DATABASE")

# Create a connection to the MySQL database
sql_connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [4]:
# Test connection
# Create a cursor object using the cursor() method
cursor = sql_connection.cursor()

# Execute the SQL query to retrieve table information
cursor.execute("SHOW TABLES")

# Fetch all the rows in a list of lists.
tables = cursor.fetchall()

# Output the list of tables to confirm the connection
for table in tables:
    print(table)

('Driver',)
('EVSE',)
('RFID_map',)
('Site',)
('Staff',)
('Station',)
('Station_Owner',)
('User',)
('evses_joined',)
('stations_joined',)

In [5]:
# Close the connection
'''
cursor.close()
sql_connection.close()
'''

'\ncursor.close()\nsql_connection.close()\n'

## Mongo

In [6]:

# Create the connection URI
#connection_uri = f"mongodb://{username}:{password}@{host}:{port}/{database_name}"
ca = certifi.where()
connection_uri = os.environ['MONGO_URL'] + '&tlsCAFile=' + ca

print(connection_uri)

# Connect to MongoDB
client = pymongo.MongoClient(connection_uri)

# Access the specific database
mongo_db = client['sparkplug']

mongodb+srv://sparkplug:5jkS0ew4zVnACstU@sparkplug.i7nlrbn.mongodb.net/?retryWrites=true&w=majority&tlsCAFile=/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/certifi/cacert.pem

In [7]:
# Test connection

try:
    # Attempt to retrieve the server status
    server_status = client.server_info()
    print("Connected to MongoDB server:", server_status)
except mongo_errors.ConnectionFailure as e:
    print("Connection Failure: ", e)
except mongo_errors.ConfigurationError as e:
    print("Configuration Error: ", e)
except mongo_errors.PyMongoError as e:
    print("PyMongo Error: ", e)
except Exception as e:
    print("An error occurred: ", e)

Connected to MongoDB server: {'version': '7.0.11', 'gitVersion': 'f451220f0df2b9dfe073f1521837f8ec5c208a8c', 'modules': ['enterprise'], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [7, 0, 11, 0], 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'inMemory', 'queryable_wt', 'wiredTiger'], 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1717869796, 7), 'signature': {'hash': b'$\x06)P\xb1\xb1\x83\xff\xd5V\x9e\xff\xf0\x8a\xa7\xfb\xb1\xf9\xc1)', 'keyId': 7314697452504743938}}, 'operationTime': Timestamp(1717869796, 7)}

# Process Transactions Data

## Read File

In [8]:
# Read the CSV file into a dataframe
transactions_file_path = 'data/new_group5_chargingstation_addresses_unified - chargingstations.csv'
t_df = pd.read_csv(transactions_file_path)

# Handle missing values (NaN) in the dataframe
t_df = t_df.fillna('')

# Print the dataframe
print(t_df.size)
for column in t_df.columns.tolist():
    print(column)

4150496
ZipCode
Charging Station
Address
City
State
Latitude
Longitude
Start Date
End Date
Total Duration
Charging Time
Charging Port Type
Charging Ports
Plug Type
Energy Consumed
Charges

## Fix broken dates

In [9]:
# Check for broken datetimes
t_df['Start Date'] = pd.to_datetime(t_df['Start Date'], errors='coerce', format='%m/%d/%Y %H:%M')
t_df['End Date'] = pd.to_datetime(t_df['End Date'], errors='coerce', format='%m/%d/%Y %H:%M')

# Identify rows where either datetime column couldn't be converted (contains NaT)
invalid_rows = t_df[t_df['Start Date'].isna() | t_df['End Date'].isna()]

#print(invalid_rows[['Start Date', 'End Date']])

In [10]:
# Define a function to convert duration string to timedelta
def parse_duration(duration_str):
    hours, minutes, seconds = map(int, duration_str.split(':'))
    return timedelta(hours=hours, minutes=minutes, seconds=seconds)

# Update 'End Date' where it is invalid
for index, row in t_df.iterrows():
    if pd.isna(row['End Date']):
        duration = parse_duration(row['Total Duration'])
        t_df.at[index, 'End Date'] = row['Start Date'] + duration

# Identify rows where either datetime column couldn't be converted (contains NaT)
invalid_rows = t_df[t_df['Start Date'].isna() | t_df['End Date'].isna()]

# Print rows with formatting errors
print(invalid_rows[['Start Date', 'End Date']])

Empty DataFrame
Columns: [Start Date, End Date]
Index: []

## Set cutoff date because there are too many transactions

In [11]:
# Format transaction_date in POSIX time
t_df['transaction_date'] = pd.to_datetime(t_df['End Date'], format='%m/%d/%Y %H:%M')
t_df['transaction_date'] = (t_df['transaction_date'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1ms')

In [12]:
min_transaction_date = t_df['transaction_date'].min()
max_transaction_date = t_df['transaction_date'].max()

# Print the results
print("Minimum Transaction Date:", min_transaction_date)
print("Maximum Transaction Date:", max_transaction_date)

Minimum Transaction Date: 1311981600000
Maximum Transaction Date: 1609794060000

In [13]:
# Sample start_date in yyyy-mm-dd format
start_date = '2019-06-01'

# Convert start_date to POSIX time (assuming UTC timezone for simplicity)
start_date_posix = int(time.mktime(datetime.strptime(start_date, '%Y-%m-%d').timetuple()) * 1000)

print(f"Start date in POSIX time: {start_date_posix}")

# Assuming df is your DataFrame and it has columns 'transaction_date', 'Charging Station', 'Address', 'Latitude', 'Longitude'

# Filter the DataFrame
filtered_df = t_df[t_df['transaction_date'] >= start_date_posix]

# Count total number of transactions
transaction_count = filtered_df.shape[0]
all_transaction_count = t_df.shape[0]

# Count unique Address values
site_count = filtered_df['Address'].nunique()
all_site_count = t_df['Address'].nunique()

# Count unique Charging Station values
station_count = filtered_df['Charging Station'].nunique()
all_station_count = t_df['Charging Station'].nunique()

# Count unique Latitude and Longitude combinations
evse_count = filtered_df.groupby(['Latitude', 'Longitude']).ngroups
all_evse_count = t_df.groupby(['Latitude', 'Longitude']).ngroups

print(f"Transactions:  {transaction_count} of {all_transaction_count}")
print(f"Sites:         {site_count} of {all_site_count}")
print(f"Stations:      {station_count} of {all_station_count}")
print(f"EVSEs:         {evse_count} of {all_evse_count}")

Start date in POSIX time: 1559372400000
Transactions:  48327 of 259406
Sites:         9 of 9
Stations:      46 of 46
EVSEs:         48 of 66

In [14]:
t_df = filtered_df

## Helper Functions

In [15]:
def common_substring(strings):
    if not strings:
        return ""
    shortest_str = min(strings, key=len)
    for i, char in enumerate(shortest_str):
        for other in strings:
            if other[i] != char:
                return shortest_str[:i]
    return shortest_str 

def map_state_name_to_abbreviation(state_name):
    # Dictionary mapping state names to their abbreviations
    state_map = {
        "alabama": "AL", "alaska": "AK", "arizona": "AZ", "arkansas": "AR", "california": "CA",
        "colorado": "CO", "connecticut": "CT", "delaware": "DE", "florida": "FL", "georgia": "GA",
        "hawaii": "HI", "idaho": "ID", "illinois": "IL", "indiana": "IN", "iowa": "IA",
        "kansas": "KS", "kentucky": "KY", "louisiana": "LA", "maine": "ME", "maryland": "MD",
        "massachusetts": "MA", "michigan": "MI", "minnesota": "MN", "mississippi": "MS", "missouri": "MO",
        "montana": "MT", "nebraska": "NE", "nevada": "NV", "new hampshire": "NH", "new jersey": "NJ",
        "new mexico": "NM", "new york": "NY", "north carolina": "NC", "north dakota": "ND", "ohio": "OH",
        "oklahoma": "OK", "oregon": "OR", "pennsylvania": "PA", "rhode island": "RI", "south carolina": "SC",
        "south dakota": "SD", "tennessee": "TN", "texas": "TX", "utah": "UT", "vermont": "VT",
        "virginia": "VA", "washington": "WA", "west virginia": "WV", "wisconsin": "WI", "wyoming": "WY"
    }
    
    # Convert the input to lowercase to handle case insensitivity
    normalized_input = state_name.strip().lower()
    
    # Check if the normalized input is already a valid abbreviation
    if normalized_input.upper() in state_map.values():
        return normalized_input.upper()
    
    # Return the state abbreviation or the original if not found
    return state_map.get(normalized_input, state_name.upper())

def format_datetime(date_str):
    """Convert datetime from 'm/d/Y H:M' format to 'Y-m-d H:M:S' format."""
    try:
        # Parse the date with the correct format
        return datetime.strptime(date_str, '%m/%d/%Y %H:%M').strftime('%Y-%m-%d %H:%M:%S')
    except ValueError:
        # Handle incorrect format by returning a default datetime
        return datetime.now().strftime('%Y-%m-%d %H:%M:%S')

def posix_time(dt):
    """Convert a datetime object to POSIX time in milliseconds."""
    posix_seconds = time.mktime(dt.timetuple())  # POSIX time in seconds
    return int(posix_seconds * 1000)

## First Pass - Build Sites, Stations, EVSEs from transaction data

In [16]:
# Initialize counters and dictionaries for storing data
site_id_gen = count(1)
station_id_gen = count(1)
evse_id_gen = count(1)
sites = {}
stations = {}
evses = {}

# Process each row
for idx, row in t_df.iterrows():
    address = row['Address']
    station_name = row['Charging Station']
    lat_long = (row['Latitude'], row['Longitude'])
    
    # Process sites
    if address not in sites:
        sites[address] = {
            'id': next(site_id_gen),
            'owner_id': np.random.choice([1, 2]),
            'street_address': address,
            'latitude': [],
            'longitude': [],
            'name': [],
            'city': row['City'],
            'state': map_state_name_to_abbreviation(row['State']), 
            'country': 'USA',
            'zip_code': row['ZipCode'],
            'created_at': [],
            'updated_at': []
        }
    
    # Process stations
    if station_name not in stations:
        stations[station_name] = {
            'id': next(station_id_gen),
            'name': station_name,
            'latitude': [],
            'longitude': [],
            'site_id': sites[address]['id'],
            'created_at': [],
            'updated_at': []
        }
    
    # Process EVSEs
    if lat_long not in evses:
        evses[lat_long] = {
            'id': next(evse_id_gen),
            'station_id': stations[station_name]['id'],
            'connector_type': row['Plug Type'],
            'charge_level': row['Charging Port Type'],
            'created_at': [],
            'updated_at': [],
            'latitude': lat_long[0],
            'longitude': lat_long[1]
        }
    
    # Append data for aggregation
    sites[address]['latitude'].append(row['Latitude'])
    sites[address]['longitude'].append(row['Longitude'])
    sites[address]['name'].append(station_name)
    sites[address]['created_at'].append(row['Start Date'])
    sites[address]['updated_at'].append(row['End Date'])
    
    stations[station_name]['latitude'].append(row['Latitude'])
    stations[station_name]['longitude'].append(row['Longitude'])
    stations[station_name]['created_at'].append(row['Start Date'])
    stations[station_name]['updated_at'].append(row['End Date'])
    
    evses[lat_long]['created_at'].append(row['Start Date'])
    evses[lat_long]['updated_at'].append(row['End Date'])

# Finalize aggregation for sites, stations, and EVSEs
for site in sites.values():
    site['latitude'] = np.mean(site['latitude'])
    site['longitude'] = np.mean(site['longitude'])
    site['name'] = common_substring(site['name']).strip(' #')
    site['created_at'] = min(site['created_at'])
    site['updated_at'] = max(site['updated_at'])

for station in stations.values():
    station['latitude'] = np.mean(station['latitude'])
    station['longitude'] = np.mean(station['longitude'])
    station['created_at'] = min(station['created_at'])
    station['updated_at'] = max(station['updated_at'])

for evse in evses.values():
    evse['created_at'] = min(evse['created_at'])
    evse['updated_at'] = max(evse['updated_at'])

## Populate SQL DB with prereq entities

In [17]:
staff_ids = []
owner_ids = []
driver_ids = []

staff_count = 1  
owner_count = 100  
owners_reserved = 3

### Owners and Staff

In [18]:
def construct_insert_query(staff_count, owner_count):
    base_query = """
    INSERT INTO User (user_type, email, password, name, status, created_at, updated_at) VALUES 
    """
    values_list = []
    
    # Generate staff entries
    for i in range(1, staff_count + 1):
        values_list.append(
            f"('staff', 'staff{i}@example.com', '$2b$10$fx97CvpoF.SDQnuNs4HF0OXZBoty.bkfHlJDP6rM9kHMLJ/DaAQzO', 'staff{i}', 'Active', '2011-03-31 06:28:34', '2011-04-01 06:28:34')"
        )
    
    # Generate owner entries
    for i in range(1, owner_count + 1):
        values_list.append(
            f"('owner', 'owner{i}@example.com', '$2b$10$fx97CvpoF.SDQnuNs4HF0OXZBoty.bkfHlJDP6rM9kHMLJ/DaAQzO', 'owner{i}', 'Active', '2011-03-31 06:28:34', '2011-04-01 06:28:34')"
        )
    
    full_query = base_query + ",\n".join(values_list) + ";"
    return full_query

# Get the dynamically constructed query
dynamic_query = construct_insert_query(staff_count, owner_count)

In [19]:
try:
    cursor = sql_connection.cursor()  # Assuming sql_connection is already set up
    cursor.execute(dynamic_query)
    sql_connection.commit()  # Commit the transaction
    print(f"{cursor.rowcount} rows were inserted.")

except Exception as e:
    print("An error occurred:", e)

finally:
    cursor.close()

101 rows were inserted.

In [20]:
cursor = sql_connection.cursor()

try:
    # Staff
    # Step 1: Select IDs from User table
    select_query = "SELECT id FROM User WHERE user_type='staff';"
    cursor.execute(select_query)
    staff_ids = cursor.fetchall()

    # Check if there are any IDs to process
    if staff_ids:
        # Step 2: Insert IDs into Driver table
        # Preparing the values string for the SQL query
        values_str = ','.join([f"({id[0]})" for id in staff_ids])
        insert_query = f"INSERT INTO Staff (id) VALUES {values_str};"
        cursor.execute(insert_query)
        sql_connection.commit()  # Commit the transaction
        print(f"{cursor.rowcount} rows were inserted into Staff.")
    else:
        print("No staff IDs found to insert.")

    # Owner
    # Step 1: Select IDs from User table
    select_query = "SELECT id FROM User WHERE user_type='owner';"
    cursor.execute(select_query)
    owner_ids = cursor.fetchall()

    # Check if there are any IDs to process
    if owner_ids:
        # Step 2: Insert IDs into Driver table
        # Preparing the values string for the SQL query
        values_str = ','.join([f"({id[0]})" for id in owner_ids])
        insert_query = f"INSERT INTO Station_Owner (id) VALUES {values_str};"
        cursor.execute(insert_query)
        sql_connection.commit()  # Commit the transaction
        print(f"{cursor.rowcount} rows were inserted into Station_Owner.")
    else:
        print("No owner IDs found to insert.")

except Exception as e:
    print("An error occurred:", e)

finally:
    # Close the cursor
    cursor.close()

1 rows were inserted into Staff.
100 rows were inserted into Station_Owner.

### Drivers

In [21]:
import mysql.connector
import os
import random

cursor = sql_connection.cursor()

def random_datetime(start, end):
    """Generate a random datetime between `start` and `end`."""
    start_timestamp = int(start.timestamp())
    end_timestamp = int(end.timestamp())
    random_timestamp = random.randint(start_timestamp, end_timestamp)
    return datetime.fromtimestamp(random_timestamp).strftime('%Y-%m-%d %H:%M:%S')

# Start and end dates for datetime generation
start_date = datetime(2011, 3, 31)
end_date = datetime(2024, 6, 1)

# Generating the SQL INSERT query
values = []
for i in range(1, 1001):
    user_type = 'driver'
    email = f"driver{i}@example.com"
    password = "$2b$10$fx97CvpoF.SDQnuNs4HF0OXZBoty.bkfHlJDP6rM9kHMLJ/DaAQzO"
    name = f"driver{i}"
    status = "Active"
    created_at = random_datetime(start_date, end_date)
    updated_at = created_at  # Assuming updated_at is the same as created_at for simplicity
    values.append(f"('{user_type}', '{email}', '{password}', '{name}', '{status}', '{created_at}', '{updated_at}')")

sql_insert_query = f"""
INSERT INTO User (user_type, email, password, name, status, created_at, updated_at) VALUES 
{','.join(values)};
"""

try:
    # Execute the SQL statement
    cursor.execute(sql_insert_query)
    sql_connection.commit()  # Commit the transaction
    print(f"{cursor.rowcount} rows were inserted.")

except Exception as e:
    print("An error occurred:", e)

finally:
    # Close the cursor
    cursor.close()

1000 rows were inserted.

In [22]:
cursor = sql_connection.cursor()

try:
    # Step 1: Select IDs from User table
    select_query = "SELECT id FROM User WHERE user_type='driver';"
    cursor.execute(select_query)
    driver_ids = cursor.fetchall()

    # Check if there are any IDs to process
    if driver_ids:
        # Step 2: Insert IDs into Driver table
        # Preparing the values string for the SQL query
        values_str = ','.join([f"({id[0]})" for id in driver_ids])
        insert_query = f"INSERT INTO Driver (id) VALUES {values_str};"
        cursor.execute(insert_query)
        sql_connection.commit()  # Commit the transaction
        print(f"{cursor.rowcount} rows were inserted into Driver.")
    else:
        print("No driver IDs found to insert.")

except Exception as e:
    print("An error occurred:", e)

finally:
    # Close the cursor
    cursor.close()

1000 rows were inserted into Driver.

## Populate SQL DB with Sites, Stations, and EVSEs

### Sites

In [23]:
cursor = sql_connection.cursor()

try:
    # Loop through each site and construct the INSERT command
    for site_key, site_details in sites.items():
        # Validate and format data
        id = site_details['id']
        owner_id = random.choice(owner_ids[:owners_reserved])[0]
        name = site_details['name'].replace("'", "''")  # Escape single quotes
        street_address = site_details['street_address'].replace("'", "''")  # Escape single quotes
        zip_code = int(site_details['zip_code'])  # Ensure zip_code is an integer
        latitude = site_details['latitude'] 
        longitude = site_details['longitude']  
        updated_at = site_details['updated_at']
        created_at = site_details['created_at']
        city = site_details['city'].replace("'", "''")  # Escape single quotes
        state = site_details['state'][:2]  # Ensure state is no longer than 2 characters
        country = site_details['country']

        # SQL INSERT command
        sql_insert_query = f"""
        INSERT INTO Site (id, owner_id, name, street_address, zip_code, latitude, longitude, updated_at, created_at, city, state, country) VALUES
        ({id}, {owner_id}, '{name}', '{street_address}', {zip_code}, '{latitude}', '{longitude}', '{updated_at}', '{created_at}', '{city}', '{state}', '{country}');
        """
        cursor.execute(sql_insert_query)
        sql_connection.commit()  # Commit the transaction
        print(f"Site '{name}' inserted successfully.")

except Exception as e:
    print("An error occurred:", e)
    print("Failed SQL Query:", sql_insert_query)

finally:
    # Close the cursor
    cursor.close()

Site 'PALO ALTO CA / BRYANT' inserted successfully.
Site 'PALO ALTO CA / HAMILTON' inserted successfully.
Site 'PALO ALTO CA / HIGH' inserted successfully.
Site 'PALO ALTO CA / WEBSTER' inserted successfully.
Site 'PALO ALTO CA / MPL' inserted successfully.
Site 'PALO ALTO CA / RINCONADA LIB' inserted successfully.
Site 'PALO ALTO CA / CAMBRIDGE' inserted successfully.
Site 'PALO ALTO CA / SHERMAN' inserted successfully.
Site 'PALO ALTO CA / TED THOMPSON' inserted successfully.

### Stations

In [24]:
cursor = sql_connection.cursor()

# Execute each station insert
for key, station in stations.items():
    id = station['id']
    name = station['name'].replace("'", "''")  # Escape single quotes
    latitude = station['latitude']
    longitude = station['longitude']
    updated_at = station['updated_at']
    created_at = station['created_at']
    site_id = station['site_id']
    sql_insert_query = f"""
    INSERT INTO Station (id, name, latitude, longitude, created_at, updated_at, site_id) VALUES
    ({id}, '{name}', '{latitude}', '{longitude}', '{created_at}', '{updated_at}', {site_id});
    """
    try:
        cursor.execute(sql_insert_query)
        sql_connection.commit()  # Commit the transaction
        print(f"Station '{station['name']}' inserted successfully.")
    except Exception as e:
        print("An error occurred:", e)
        print("Failed SQL Query:", sql_insert_query)

# Close the cursor
cursor.close()

Station 'PALO ALTO CA / BRYANT #1' inserted successfully.
Station 'PALO ALTO CA / BRYANT #2' inserted successfully.
Station 'PALO ALTO CA / BRYANT #3' inserted successfully.
Station 'PALO ALTO CA / BRYANT #4' inserted successfully.
Station 'PALO ALTO CA / BRYANT #5' inserted successfully.
Station 'PALO ALTO CA / BRYANT #6' inserted successfully.
Station 'PALO ALTO CA / HAMILTON #1' inserted successfully.
Station 'PALO ALTO CA / HAMILTON #2' inserted successfully.
Station 'PALO ALTO CA / HIGH #1' inserted successfully.
Station 'PALO ALTO CA / HIGH #2' inserted successfully.
Station 'PALO ALTO CA / HIGH #3' inserted successfully.
Station 'PALO ALTO CA / HIGH #4' inserted successfully.
Station 'PALO ALTO CA / WEBSTER #1' inserted successfully.
Station 'PALO ALTO CA / WEBSTER #2' inserted successfully.
Station 'PALO ALTO CA / WEBSTER #3' inserted successfully.
Station 'PALO ALTO CA / MPL #1' inserted successfully.
Station 'PALO ALTO CA / MPL #2' inserted successfully.
Station 'PALO ALTO CA / MPL #3' inserted successfully.
Station 'PALO ALTO CA / MPL #4' inserted successfully.
Station 'PALO ALTO CA / MPL #5' inserted successfully.
Station 'PALO ALTO CA / MPL #6' inserted successfully.
Station 'PALO ALTO CA / RINCONADA LIB 1' inserted successfully.
Station 'PALO ALTO CA / RINCONADA LIB 2' inserted successfully.
Station 'PALO ALTO CA / RINCONADA LIB 3' inserted successfully.
Station 'PALO ALTO CA / CAMBRIDGE #1' inserted successfully.
Station 'PALO ALTO CA / CAMBRIDGE #2' inserted successfully.
Station 'PALO ALTO CA / CAMBRIDGE #3' inserted successfully.
Station 'PALO ALTO CA / CAMBRIDGE #4' inserted successfully.
Station 'PALO ALTO CA / CAMBRIDGE #5' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 1' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 11' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 14' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 15' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 17' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 2' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 3' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 4' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 5' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 6' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 7' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 8' inserted successfully.
Station 'PALO ALTO CA / SHERMAN 9' inserted successfully.
Station 'PALO ALTO CA / TED THOMPSON #1' inserted successfully.
Station 'PALO ALTO CA / TED THOMPSON #2' inserted successfully.
Station 'PALO ALTO CA / TED THOMPSON #3' inserted successfully.
Station 'PALO ALTO CA / TED THOMPSON #4' inserted successfully.

True

### EVSEs

In [25]:
cursor = sql_connection.cursor()

# Execute each station insert
for key, evse in evses.items():
    id = evse['id']
    station_id = evse['station_id']
    connector_type = evse['connector_type']
    charge_level = evse['charge_level']
    latitude = evse['latitude']
    longitude = evse['longitude']
    updated_at = station['updated_at']
    created_at = station['created_at']
    sql_insert_query = f"""
    INSERT INTO EVSE (id, station_id, connector_type, charge_level, latitude, longitude, created_at, updated_at) VALUES
    ({id}, '{station_id}', '{connector_type}', '{charge_level}', '{latitude}', '{longitude}', '{created_at}', '{updated_at}');
    """
    try:
        cursor.execute(sql_insert_query)
        sql_connection.commit()  # Commit the transaction
        print(f"EVSE '{evse['id']}' inserted successfully.")
    except Exception as e:
        print("An error occurred:", e)
        print("Failed SQL Query:", sql_insert_query)

# Close the cursor
cursor.close()

EVSE '1' inserted successfully.
EVSE '2' inserted successfully.
EVSE '3' inserted successfully.
EVSE '4' inserted successfully.
EVSE '5' inserted successfully.
EVSE '6' inserted successfully.
EVSE '7' inserted successfully.
EVSE '8' inserted successfully.
EVSE '9' inserted successfully.
EVSE '10' inserted successfully.
EVSE '11' inserted successfully.
EVSE '12' inserted successfully.
EVSE '13' inserted successfully.
EVSE '14' inserted successfully.
EVSE '15' inserted successfully.
EVSE '16' inserted successfully.
EVSE '17' inserted successfully.
EVSE '18' inserted successfully.
EVSE '19' inserted successfully.
EVSE '20' inserted successfully.
EVSE '21' inserted successfully.
EVSE '22' inserted successfully.
EVSE '23' inserted successfully.
EVSE '24' inserted successfully.
EVSE '25' inserted successfully.
EVSE '26' inserted successfully.
EVSE '27' inserted successfully.
EVSE '28' inserted successfully.
EVSE '29' inserted successfully.
EVSE '30' inserted successfully.
EVSE '31' inserted successfully.
EVSE '32' inserted successfully.
EVSE '33' inserted successfully.
EVSE '34' inserted successfully.
EVSE '35' inserted successfully.
EVSE '36' inserted successfully.
EVSE '37' inserted successfully.
EVSE '38' inserted successfully.
EVSE '39' inserted successfully.
EVSE '40' inserted successfully.
EVSE '41' inserted successfully.
EVSE '42' inserted successfully.
EVSE '43' inserted successfully.
EVSE '44' inserted successfully.
EVSE '45' inserted successfully.
EVSE '46' inserted successfully.
EVSE '47' inserted successfully.
EVSE '48' inserted successfully.

True

## Query stations and evses to match with transactions

In [26]:
evses_joined = []
try:
    # Create a cursor object using the existing connection
    cursor = sql_connection.cursor(dictionary=True)  # Ensure cursor returns dictionaries

    # Define your SQL query
    query = "SELECT * FROM evses_joined;"

    # Execute the query
    cursor.execute(query)

    # Fetch all rows and directly convert to a list of dictionaries
    evses_joined = cursor.fetchall()  # Each row is a dictionary

    print("Data loaded into list of dictionaries successfully!")

except mysql.connector.Error as e:
    print(f"Error fetching data from MySQL: {e}")

finally:
    # Ensure the cursor is closed properly
    cursor.close()

Data loaded into list of dictionaries successfully!

## Second Pass - Populate Mongodb with transactions data

In [27]:
charging_sessions = mongo_db.charging_sessions
evse_status = mongo_db.evse_status

In [28]:
def find_evse_details(lat, long, evses_joined):
    """Find evse_id and station_id for the given latitude and longitude."""
    for item in evses_joined:
        if str(item['evse_latitude']) == str(lat) and str(item['evse_longitude']) == str(long):
            return item['evse_id'], item['station_id'], item['evse_number']
    return None, None, None

def update_evse_status(evse_id, station_id, evse_number, timestamp, new_status, evse_status):
    """Update or create evse_status document with new status update."""
    evse_status.update_one(
        {'evse_id': evse_id},  # Match document based on evse_id
        {
            '$setOnInsert': {  # Set these fields only when creating a new document
                'station_id': station_id,
                'evse_id': evse_id,
                'evse_number': evse_number
            },
            '$push': {'updates': {'timestamp': timestamp, 'new_status': new_status}}
        },
        upsert=True  # Create a new document if one doesn't exist
    )

In [29]:
# Define mapping functions for state abbreviation
def map_state_name_to_abbreviation(state):
    state_map = {
        "alabama": "AL", "alaska": "AK", "arizona": "AZ", "arkansas": "AR", "california": "CA",
        "colorado": "CO", "connecticut": "CT", "delaware": "DE", "florida": "FL", "georgia": "GA",
        "hawaii": "HI", "idaho": "ID", "illinois": "IL", "indiana": "IN", "iowa": "IA",
        "kansas": "KS", "kentucky": "KY", "louisiana": "LA", "maine": "ME", "maryland": "MD",
        "massachusetts": "MA", "michigan": "MI", "minnesota": "MN", "mississippi": "MS", "missouri": "MO",
        "montana": "MT", "nebraska": "NE", "nevada": "NV", "new hampshire": "NH", "new jersey": "NJ",
        "new mexico": "NM", "new york": "NY", "north carolina": "NC", "north dakota": "ND", "ohio": "OH",
        "oklahoma": "OK", "oregon": "OR", "pennsylvania": "PA", "rhode island": "RI", "south carolina": "SC",
        "south dakota": "SD", "tennessee": "TN", "texas": "TX", "utah": "UT", "vermont": "VT",
        "virginia": "VA", "washington": "WA", "west virginia": "WV", "wisconsin": "WI", "wyoming": "WY"
    }
    return state_map.get(state, state)

evse_details_map = {
    (f"{item['evse_latitude']:.6f}", f"{item['evse_longitude']:.6f}"): (item['evse_id'], item['station_id'], item['evse_number'])
    for item in evses_joined
}

def get_evse_details(row):
    lat_str = f"{row['Latitude']:.6f}"
    long_str = f"{row['Longitude']:.6f}"
    return evse_details_map.get((lat_str, long_str), (None, None, None))

# Apply the function to each row in the DataFrame
t_df[['evse_id', 'station_id', 'evse_number']] = t_df.apply(get_evse_details, axis=1, result_type='expand')

# Convert date fields and prepare additional columns
# t_df['transaction_date'] = pd.to_datetime(t_df['End Date']).astype('int64') // 10**6
t_df['state'] = t_df['State'].apply(map_state_name_to_abbreviation)
t_df['user_id'] = [random.choice(driver_ids)[0] for _ in range(len(t_df))]

In [31]:
# Prepare documents for MongoDB insertion
try:
    sessions_df = t_df.apply(lambda row: pd.Series({
        'evse_id': row['evse_id'],
        'station_name': row['Charging Station'],
        'station_id': row['station_id'],
        'evse_number': row['evse_number'],
        'start_date': row['Start Date'].strftime('%Y-%m-%d %H:%M:%S'),
        'end_date': row['End Date'].strftime('%Y-%m-%d %H:%M:%S'),
        'transaction_date': row['transaction_date'],
        'total_duration': row['Total Duration'],
        'charging_time': row['Charging Time'],
        'charge_level': row['Charging Port Type'],
        'port_number': row['Charging Ports'],
        'plug_type': row['Plug Type'],
        'energy_consumed_kwh': row['Energy Consumed'],
        'fee': row['Charges'],
        'user_id': row['user_id'],
        'city': row['City'],
        'state': row['state'],
        'country': 'USA',
        'postal_code': row['ZipCode'],
        'latitude':row['Latitude'],
        'longitude':row['Longitude']
    }), axis=1)

    sessions = sessions_df.to_dict('records')
    print("Documents prepared successfully for MongoDB insertion.")
except Exception as e:
    print(f"Failed to prepare documents: {e}")

Documents prepared successfully for MongoDB insertion.

In [33]:
# Define batch size
batch_size = 1000  # You can adjust the size based on performance and resource availability

# Insert documents in batches
try:
    for i in range(0, len(sessions), batch_size):
        batch = sessions[i:i+batch_size]
        charging_sessions.insert_many(batch)
        print(f"Processed {i + len(batch)} out of {len(sessions)} records successfully.")
        time.sleep(1)  # Optional: add a short delay to reduce system load (if necessary)
except Exception as e:
    print("Failed to bulk insert into charging_sessions:", e)

print("All documents have been inserted successfully.")

Processed 1000 out of 48327 records successfully.
Processed 2000 out of 48327 records successfully.
Processed 3000 out of 48327 records successfully.
Processed 4000 out of 48327 records successfully.
Processed 5000 out of 48327 records successfully.
Processed 6000 out of 48327 records successfully.
Processed 7000 out of 48327 records successfully.
Processed 8000 out of 48327 records successfully.
Processed 9000 out of 48327 records successfully.
Processed 10000 out of 48327 records successfully.
Processed 11000 out of 48327 records successfully.
Processed 12000 out of 48327 records successfully.
Processed 13000 out of 48327 records successfully.
Processed 14000 out of 48327 records successfully.
Processed 15000 out of 48327 records successfully.
Processed 16000 out of 48327 records successfully.
Processed 17000 out of 48327 records successfully.
Processed 18000 out of 48327 records successfully.
Processed 19000 out of 48327 records successfully.
Processed 20000 out of 48327 records successfully.
Processed 21000 out of 48327 records successfully.
Processed 22000 out of 48327 records successfully.
Processed 23000 out of 48327 records successfully.
Processed 24000 out of 48327 records successfully.
Processed 25000 out of 48327 records successfully.
Processed 26000 out of 48327 records successfully.
Processed 27000 out of 48327 records successfully.
Processed 28000 out of 48327 records successfully.
Processed 29000 out of 48327 records successfully.
Processed 30000 out of 48327 records successfully.
Processed 31000 out of 48327 records successfully.
Processed 32000 out of 48327 records successfully.
Processed 33000 out of 48327 records successfully.
Processed 34000 out of 48327 records successfully.
Processed 35000 out of 48327 records successfully.
Processed 36000 out of 48327 records successfully.
Processed 37000 out of 48327 records successfully.
Processed 38000 out of 48327 records successfully.
Processed 39000 out of 48327 records successfully.
Processed 40000 out of 48327 records successfully.
Processed 41000 out of 48327 records successfully.
Processed 42000 out of 48327 records successfully.
Processed 43000 out of 48327 records successfully.
Processed 44000 out of 48327 records successfully.
Processed 45000 out of 48327 records successfully.
Processed 46000 out of 48327 records successfully.
Processed 47000 out of 48327 records successfully.
Processed 48000 out of 48327 records successfully.
Processed 48327 out of 48327 records successfully.
All documents have been inserted successfully.

## Third Pass - Populate MongoDB with EVSE updates data

In [36]:
try:
    evses_df = t_df.apply(lambda row: pd.Series({
        'evse_id': row['evse_id'],
        'station_id': row['station_id'],
        'evse_number': row['evse_number'],
    }), axis = 1)
    evses_df = evses_df.drop_duplicates()

    evse_docs = evses_df.to_dict('records')
    print("Documents prepared successfully for MongoDB insertion.")
except Exception as e:
    print(f"Failed to prepare evse documents: {e}")

Documents prepared successfully for MongoDB insertion.

In [37]:
t_df['in_use_timestamp'] = pd.to_datetime(t_df['Start Date']).astype('int64') // 10**6

try:
    starts_df = t_df.apply(lambda row: pd.Series({
        'evse_id': row['evse_id'],
        'timestamp': row['in_use_timestamp'],
        'new_status': 'in-use'
    }), axis=1)

    start_docs = starts_df.to_dict('records')
    print("Documents prepared successfully for MongoDB insertion.")
except Exception as e:
    print(f"Failed to prepare start documents: {e}")

Documents prepared successfully for MongoDB insertion.

In [38]:
try:
    ends_df = t_df.apply(lambda row: pd.Series({
        'evse_id': row['evse_id'],
        'timestamp': row['transaction_date'],
        'new_status': 'available'
    }), axis=1)

    end_docs = ends_df.to_dict('records')
    print("Documents prepared successfully for MongoDB insertion.")
except Exception as e:
    print(f"Failed to prepare end documents: {e}")

Documents prepared successfully for MongoDB insertion.

In [39]:
# Create a lookup dictionary for quick access to evse_docs dictionaries by evse_id
evse_lookup = {}

for evse in evse_docs:
    evse['updates'] = []  # Initialize the 'updates' list
    evse_lookup[evse['evse_id']] = evse

In [40]:
# Function to process updates and print progress
def process_updates(docs, description):
    total_docs = len(docs)
    for index, doc in enumerate(docs):
        evse_id = doc['evse_id']
        if evse_id in evse_lookup:
            update_info = {'timestamp': doc['timestamp'], 'new_status': doc['new_status']}
            evse_lookup[evse_id]['updates'].append(update_info)
        
        # Print progress every 10,000 entries or at the end of the list
        if index % 10000 == 0 or index == total_docs - 1:
            print(f"Processed {index + 1}/{total_docs} {description}")

# Process start_docs and end_docs
process_updates(start_docs, "start documents")
process_updates(end_docs, "end documents")

# Sort each EVSE's updates list by 'timestamp'
for evse_id, evse in evse_lookup.items():
    evse['updates'].sort(key=lambda x: x['timestamp'])

# Optionally, convert evse_lookup back to a list if needed for further processing or output
sorted_evse_docs = list(evse_lookup.values())

Processed 1/48327 start documents
Processed 10001/48327 start documents
Processed 20001/48327 start documents
Processed 30001/48327 start documents
Processed 40001/48327 start documents
Processed 48327/48327 start documents
Processed 1/48327 end documents
Processed 10001/48327 end documents
Processed 20001/48327 end documents
Processed 30001/48327 end documents
Processed 40001/48327 end documents
Processed 48327/48327 end documents

In [41]:
# Add simulated different statuses
# Get current time in milliseconds since the epoch
current_time_milliseconds = int(time.time() * 1000)

for evse in sorted_evse_docs:
    # Generate a random number between 0 and 1
    rand_num = random.random()

    # 20% chance to append 'in-use' status
    if rand_num < 0.20:
        evse['updates'].append({'timestamp': current_time_milliseconds, 'new_status': 'in-use'})
    # 10% chance to append 'out of service' status
    elif rand_num < 0.30:  # 0.20 to 0.30 range
        evse['updates'].append({'timestamp': current_time_milliseconds, 'new_status': 'out of service'})
    # 10% chance to append 'unavailable' status
    elif rand_num < 0.40:  # 0.30 to 0.40 range
        evse['updates'].append({'timestamp': current_time_milliseconds, 'new_status': 'unavailable'})

    # Optionally, ensure the updates remain sorted after adding new ones
    evse['updates'].sort(key=lambda x: x['timestamp'])

# Print some examples to verify
sorted_evse_docs[:2]

[{'evse_id': 1,
  'station_id': 1,
  'evse_number': 1,
  'updates': [{'timestamp': 1593284700000, 'new_status': 'in-use'},
   {'timestamp': 1593285420000, 'new_status': 'available'},
   {'timestamp': 1593550020000, 'new_status': 'in-use'},
   {'timestamp': 1593550620000, 'new_status': 'available'},
   {'timestamp': 1594475040000, 'new_status': 'in-use'},
   {'timestamp': 1594478040000, 'new_status': 'available'},
   {'timestamp': 1595073060000, 'new_status': 'in-use'},
   {'timestamp': 1595082540000, 'new_status': 'available'},
   {'timestamp': 1595245860000, 'new_status': 'in-use'},
   {'timestamp': 1595256480000, 'new_status': 'available'},
   {'timestamp': 1596197940000, 'new_status': 'in-use'},
   {'timestamp': 1596208020000, 'new_status': 'available'},
   {'timestamp': 1596285360000, 'new_status': 'in-use'},
   {'timestamp': 1596289500000, 'new_status': 'available'},
   {'timestamp': 1596309840000, 'new_status': 'in-use'},
   {'timestamp': 1596313500000, 'new_status': 'available'},
   {'timestamp': 1596566940000, 'new_status': 'in-use'},
   {'timestamp': 1596572580000, 'new_status': 'available'},
   {'timestamp': 1596653520000, 'new_status': 'in-use'},
   {'timestamp': 1596659880000, 'new_status': 'available'},
   {'timestamp': 1597507740000, 'new_status': 'in-use'},
   {'timestamp': 1597525260000, 'new_status': 'available'},
   {'timestamp': 1597661040000, 'new_status': 'in-use'},
   {'timestamp': 1597666320000, 'new_status': 'available'},
   {'timestamp': 1597958220000, 'new_status': 'in-use'},
   {'timestamp': 1597962300000, 'new_status': 'available'},
   {'timestamp': 1598296320000, 'new_status': 'in-use'},
   {'timestamp': 1598305980000, 'new_status': 'available'},
   {'timestamp': 1598427000000, 'new_status': 'in-use'},
   {'timestamp': 1598436060000, 'new_status': 'available'},
   {'timestamp': 1598793720000, 'new_status': 'in-use'},
   {'timestamp': 1598795700000, 'new_status': 'available'},
   {'timestamp': 1599391320000, 'new_status': 'in-use'},
   {'timestamp': 1599397380000, 'new_status': 'available'},
   {'timestamp': 1599483060000, 'new_status': 'in-use'},
   {'timestamp': 1599486240000, 'new_status': 'available'},
   {'timestamp': 1602596400000, 'new_status': 'in-use'},
   {'timestamp': 1602601260000, 'new_status': 'available'},
   {'timestamp': 1602667380000, 'new_status': 'in-use'},
   {'timestamp': 1602748320000, 'new_status': 'available'},
   {'timestamp': 1602951720000, 'new_status': 'in-use'},
   {'timestamp': 1602955080000, 'new_status': 'available'},
   {'timestamp': 1602960360000, 'new_status': 'in-use'},
   {'timestamp': 1602967140000, 'new_status': 'available'},
   {'timestamp': 1602980640000, 'new_status': 'in-use'},
   {'timestamp': 1602982320000, 'new_status': 'available'},
   {'timestamp': 1603114200000, 'new_status': 'in-use'},
   {'timestamp': 1603115340000, 'new_status': 'available'},
   {'timestamp': 1603200120000, 'new_status': 'in-use'},
   {'timestamp': 1603204560000, 'new_status': 'available'},
   {'timestamp': 1603240320000, 'new_status': 'in-use'},
   {'timestamp': 1603241220000, 'new_status': 'available'},
   {'timestamp': 1603277640000, 'new_status': 'in-use'},
   {'timestamp': 1603288200000, 'new_status': 'available'},
   {'timestamp': 1608040740000, 'new_status': 'in-use'},
   {'timestamp': 1608047040000, 'new_status': 'available'},
   {'timestamp': 1608836220000, 'new_status': 'in-use'},
   {'timestamp': 1608837900000, 'new_status': 'available'}]},
 {'evse_id': 2,
  'station_id': 1,
  'evse_number': 2,
  'updates': [{'timestamp': 1559392260000, 'new_status': 'in-use'},
   {'timestamp': 1559397180000, 'new_status': 'available'},
   {'timestamp': 1559475420000, 'new_status': 'in-use'},
   {'timestamp': 1559485020000, 'new_status': 'available'},
   {'timestamp': 1559553660000, 'new_status': 'in-use'},
   {'timestamp': 1559566920000, 'new_status': 'available'},
   {'timestamp': 1559571480000, 'new_status': 'in-use'},
   {'timestamp': 1559587020000, 'new_status': 'available'},
   {'timestamp': 1559632740000, 'new_status': 'in-use'},
   {'timestamp': 1559646480000, 'new_status': 'available'},
   {'timestamp': 1559648700000, 'new_status': 'in-use'},
   {'timestamp': 1559652300000, 'new_status': 'available'},
   {'timestamp': 1559652720000, 'new_status': 'in-use'},
   {'timestamp': 1559661900000, 'new_status': 'available'},
   {'timestamp': 1559671620000, 'new_status': 'in-use'},
   {'timestamp': 1559682420000, 'new_status': 'available'},
   {'timestamp': 1559724060000, 'new_status': 'in-use'},
   {'timestamp': 1559736180000, 'new_status': 'available'},
   {'timestamp': 1559811480000, 'new_status': 'in-use'},
   {'timestamp': 1559819580000, 'new_status': 'available'},
   {'timestamp': 1559822100000, 'new_status': 'in-use'},
   {'timestamp': 1559835120000, 'new_status': 'available'},
   {'timestamp': 1559896200000, 'new_status': 'in-use'},
   {'timestamp': 1559907780000, 'new_status': 'available'},
   {'timestamp': 1559910840000, 'new_status': 'in-use'},
   {'timestamp': 1559913180000, 'new_status': 'available'},
   {'timestamp': 1559923020000, 'new_status': 'in-use'},
   {'timestamp': 1559941920000, 'new_status': 'available'},
   {'timestamp': 1559999820000, 'new_status': 'in-use'},
   {'timestamp': 1560009060000, 'new_status': 'available'},
   {'timestamp': 1560014280000, 'new_status': 'in-use'},
   {'timestamp': 1560020760000, 'new_status': 'available'},
   {'timestamp': 1560026940000, 'new_status': 'in-use'},
   {'timestamp': 1560034500000, 'new_status': 'available'},
   {'timestamp': 1560074460000, 'new_status': 'in-use'},
   {'timestamp': 1560076860000, 'new_status': 'available'},
   {'timestamp': 1560088020000, 'new_status': 'in-use'},
   {'timestamp': 1560117540000, 'new_status': 'available'},
   {'timestamp': 1560156720000, 'new_status': 'in-use'},
   {'timestamp': 1560168180000, 'new_status': 'available'},
   {'timestamp': 1560187440000, 'new_status': 'in-use'},
   {'timestamp': 1560191640000, 'new_status': 'available'},
   {'timestamp': 1560194160000, 'new_status': 'in-use'},
   {'timestamp': 1560197940000, 'new_status': 'available'},
   {'timestamp': 1560245160000, 'new_status': 'in-use'},
   {'timestamp': 1560249840000, 'new_status': 'available'},
   {'timestamp': 1560267480000, 'new_status': 'in-use'},
   {'timestamp': 1560274980000, 'new_status': 'available'},
   {'timestamp': 1560331740000, 'new_status': 'in-use'},
   {'timestamp': 1560341880000, 'new_status': 'available'},
   {'timestamp': 1560347160000, 'new_status': 'in-use'},
   {'timestamp': 1560364440000, 'new_status': 'available'},
   {'timestamp': 1560417780000, 'new_status': 'in-use'},
   {'timestamp': 1560428280000, 'new_status': 'available'},
   {'timestamp': 1560429300000, 'new_status': 'in-use'},
   {'timestamp': 1560446100000, 'new_status': 'available'},
   {'timestamp': 1560455400000, 'new_status': 'in-use'},
   {'timestamp': 1560458940000, 'new_status': 'available'},
   {'timestamp': 1560513000000, 'new_status': 'in-use'},
   {'timestamp': 1560517320000, 'new_status': 'available'},
   {'timestamp': 1560517800000, 'new_status': 'in-use'},
   {'timestamp': 1560525180000, 'new_status': 'available'},
   {'timestamp': 1560537180000, 'new_status': 'in-use'},
   {'timestamp': 1560554340000, 'new_status': 'available'},
   {'timestamp': 1560678300000, 'new_status': 'in-use'},
   {'timestamp': 1560682380000, 'new_status': 'available'},
   {'timestamp': 1560760560000, 'new_status': 'in-use'},
   {'timestamp': 1560772080000, 'new_status': 'available'},
   {'timestamp': 1560779220000, 'new_status': 'in-use'},
   {'timestamp': 1560787320000, 'new_status': 'available'},
   {'timestamp': 1560847620000, 'new_status': 'in-use'},
   {'timestamp': 1560854340000, 'new_status': 'available'},
   {'timestamp': 1560861840000, 'new_status': 'in-use'},
   {'timestamp': 1560877500000, 'new_status': 'available'},
   {'timestamp': 1560881760000, 'new_status': 'in-use'},
   {'timestamp': 1560886860000, 'new_status': 'available'},
   {'timestamp': 1560943680000, 'new_status': 'in-use'},
   {'timestamp': 1560947880000, 'new_status': 'available'},
   {'timestamp': 1560950760000, 'new_status': 'in-use'},
   {'timestamp': 1560957720000, 'new_status': 'available'},
   {'timestamp': 1560971820000, 'new_status': 'in-use'},
   {'timestamp': 1560976560000, 'new_status': 'available'},
   {'timestamp': 1561028460000, 'new_status': 'in-use'},
   {'timestamp': 1561044060000, 'new_status': 'available'},
   {'timestamp': 1561108560000, 'new_status': 'in-use'},
   {'timestamp': 1561118520000, 'new_status': 'available'},
   {'timestamp': 1561120080000, 'new_status': 'in-use'},
   {'timestamp': 1561121580000, 'new_status': 'available'},
   {'timestamp': 1561124040000, 'new_status': 'in-use'},
   {'timestamp': 1561132380000, 'new_status': 'available'},
   {'timestamp': 1561142400000, 'new_status': 'in-use'},
   {'timestamp': 1561144500000, 'new_status': 'available'},
   {'timestamp': 1561146900000, 'new_status': 'in-use'},
   {'timestamp': 1561159740000, 'new_status': 'available'},
   {'timestamp': 1561230480000, 'new_status': 'in-use'},
   {'timestamp': 1561238040000, 'new_status': 'available'},
   {'timestamp': 1561291200000, 'new_status': 'in-use'},
   {'timestamp': 1561295760000, 'new_status': 'available'},
   {'timestamp': 1561299720000, 'new_status': 'in-use'},
   {'timestamp': 1561313040000, 'new_status': 'available'},
   {'timestamp': 1561369200000, 'new_status': 'in-use'},
   {'timestamp': 1561379040000, 'new_status': 'available'},
   {'timestamp': 1561379220000, 'new_status': 'in-use'},
   {'timestamp': 1561389480000, 'new_status': 'available'},
   {'timestamp': 1561399260000, 'new_status': 'in-use'},
   {'timestamp': 1561410120000, 'new_status': 'available'},
   {'timestamp': 1561452780000, 'new_status': 'in-use'},
   {'timestamp': 1561464240000, 'new_status': 'available'},
   {'timestamp': 1561468020000, 'new_status': 'in-use'},
   {'timestamp': 1561479600000, 'new_status': 'available'},
   {'timestamp': 1561484520000, 'new_status': 'in-use'},
   {'timestamp': 1561495620000, 'new_status': 'available'},
   {'timestamp': 1561546980000, 'new_status': 'in-use'},
   {'timestamp': 1561566360000, 'new_status': 'available'},
   {'timestamp': 1561575300000, 'new_status': 'in-use'},
   {'timestamp': 1561585260000, 'new_status': 'available'},
   {'timestamp': 1561643580000, 'new_status': 'in-use'},
   {'timestamp': 1561648020000, 'new_status': 'available'},
   {'timestamp': 1561720800000, 'new_status': 'in-use'},
   {'timestamp': 1561730400000, 'new_status': 'available'},
   {'timestamp': 1561732200000, 'new_status': 'in-use'},
   {'timestamp': 1561732860000, 'new_status': 'available'},
   {'timestamp': 1561735620000, 'new_status': 'in-use'},
   {'timestamp': 1561747440000, 'new_status': 'available'},
   {'timestamp': 1561753020000, 'new_status': 'in-use'},
   {'timestamp': 1561760940000, 'new_status': 'available'},
   {'timestamp': 1561805280000, 'new_status': 'in-use'},
   {'timestamp': 1561813800000, 'new_status': 'available'},
   {'timestamp': 1561815180000, 'new_status': 'in-use'},
   {'timestamp': 1561818960000, 'new_status': 'available'},
   {'timestamp': 1561833960000, 'new_status': 'in-use'},
   {'timestamp': 1561842540000, 'new_status': 'available'},
   {'timestamp': 1561975620000, 'new_status': 'in-use'},
   {'timestamp': 1561985880000, 'new_status': 'available'},
   {'timestamp': 1562003160000, 'new_status': 'in-use'},
   {'timestamp': 1562014080000, 'new_status': 'available'},
   {'timestamp': 1562057160000, 'new_status': 'in-use'},
   {'timestamp': 1562060460000, 'new_status': 'available'},
   {'timestamp': 1562068800000, 'new_status': 'in-use'},
   {'timestamp': 1562077320000, 'new_status': 'available'},
   {'timestamp': 1562089680000, 'new_status': 'in-use'},
   {'timestamp': 1562098560000, 'new_status': 'available'},
   {'timestamp': 1562148900000, 'new_status': 'in-use'},
   {'timestamp': 1562159520000, 'new_status': 'available'},
   {'timestamp': 1562169480000, 'new_status': 'in-use'},
   {'timestamp': 1562176680000, 'new_status': 'available'},
   {'timestamp': 1562319900000, 'new_status': 'in-use'},
   {'timestamp': 1562323440000, 'new_status': 'available'},
   {'timestamp': 1562435160000, 'new_status': 'in-use'},
   {'timestamp': 1562445720000, 'new_status': 'available'},
   {'timestamp': 1562574540000, 'new_status': 'in-use'},
   {'timestamp': 1562576580000, 'new_status': 'available'},
   {'timestamp': 1562581020000, 'new_status': 'in-use'},
   {'timestamp': 1562590740000, 'new_status': 'available'},
   {'timestamp': 1562596020000, 'new_status': 'in-use'},
   {'timestamp': 1562599560000, 'new_status': 'available'},
   {'timestamp': 1562608260000, 'new_status': 'in-use'},
   {'timestamp': 1562618880000, 'new_status': 'available'},
   {'timestamp': 1562663280000, 'new_status': 'in-use'},
   {'timestamp': 1562669400000, 'new_status': 'available'},
   {'timestamp': 1562669820000, 'new_status': 'in-use'},
   {'timestamp': 1562678760000, 'new_status': 'available'},
   {'timestamp': 1562679240000, 'new_status': 'in-use'},
   {'timestamp': 1562687340000, 'new_status': 'available'},
   {'timestamp': 1562756340000, 'new_status': 'in-use'},
   {'timestamp': 1562760420000, 'new_status': 'available'},
   {'timestamp': 1562761260000, 'new_status': 'in-use'},
   {'timestamp': 1562781480000, 'new_status': 'available'},
   {'timestamp': 1562781660000, 'new_status': 'in-use'},
   {'timestamp': 1562785260000, 'new_status': 'available'},
   {'timestamp': 1562840340000, 'new_status': 'in-use'},
   {'timestamp': 1562851860000, 'new_status': 'available'},
   {'timestamp': 1562854020000, 'new_status': 'in-use'},
   {'timestamp': 1562867820000, 'new_status': 'available'},
   {'timestamp': 1562869440000, 'new_status': 'in-use'},
   {'timestamp': 1562883540000, 'new_status': 'available'},
   {'timestamp': 1562914320000, 'new_status': 'in-use'},
   {'timestamp': 1562916900000, 'new_status': 'available'},
   {'timestamp': 1562928120000, 'new_status': 'in-use'},
   {'timestamp': 1562933820000, 'new_status': 'available'},
   {'timestamp': 1562939280000, 'new_status': 'in-use'},
   {'timestamp': 1562952720000, 'new_status': 'available'},
   {'timestamp': 1562955480000, 'new_status': 'in-use'},
   {'timestamp': 1562958420000, 'new_status': 'available'},
   {'timestamp': 1562960460000, 'new_status': 'in-use'},
   {'timestamp': 1562965740000, 'new_status': 'available'},
   {'timestamp': 1562968260000, 'new_status': 'in-use'},
   {'timestamp': 1562975700000, 'new_status': 'available'},
   {'timestamp': 1563021060000, 'new_status': 'in-use'},
   {'timestamp': 1563039180000, 'new_status': 'available'},
   {'timestamp': 1563043800000, 'new_status': 'in-use'},
   {'timestamp': 1563046860000, 'new_status': 'available'},
   {'timestamp': 1563056280000, 'new_status': 'in-use'},
   {'timestamp': 1563064500000, 'new_status': 'available'},
   {'timestamp': 1563185820000, 'new_status': 'in-use'},
   {'timestamp': 1563195840000, 'new_status': 'available'},
   {'timestamp': 1563195900000, 'new_status': 'in-use'},
   {'timestamp': 1563196440000, 'new_status': 'available'},
   {'timestamp': 1563197460000, 'new_status': 'in-use'},
   {'timestamp': 1563208140000, 'new_status': 'available'},
   {'timestamp': 1563211860000, 'new_status': 'in-use'},
   {'timestamp': 1563222420000, 'new_status': 'available'},
   {'timestamp': 1563273720000, 'new_status': 'in-use'},
   {'timestamp': 1563280380000, 'new_status': 'available'},
   {'timestamp': 1563280920000, 'new_status': 'in-use'},
   {'timestamp': 1563286440000, 'new_status': 'available'},
   {'timestamp': 1563286500000, 'new_status': 'in-use'},
   {'timestamp': 1563302880000, 'new_status': 'available'},
   {'timestamp': 1563352440000, 'new_status': 'in-use'},
   {'timestamp': 1563369600000, 'new_status': 'available'},
   {'timestamp': 1563370620000, 'new_status': 'in-use'},
   {'timestamp': 1563383100000, 'new_status': 'available'},
   {'timestamp': 1563391140000, 'new_status': 'in-use'},
   {'timestamp': 1563405180000, 'new_status': 'available'},
   {'timestamp': 1563444600000, 'new_status': 'in-use'},
   {'timestamp': 1563462420000, 'new_status': 'available'},
   {'timestamp': 1563463440000, 'new_status': 'in-use'},
   {'timestamp': 1563473880000, 'new_status': 'available'},
   {'timestamp': 1563529260000, 'new_status': 'in-use'},
   {'timestamp': 1563540360000, 'new_status': 'available'},
   {'timestamp': 1563540840000, 'new_status': 'in-use'},
   {'timestamp': 1563556260000, 'new_status': 'available'},
   {'timestamp': 1563573660000, 'new_status': 'in-use'},
   {'timestamp': 1563580380000, 'new_status': 'available'},
   {'timestamp': 1563648180000, 'new_status': 'in-use'},
   {'timestamp': 1563657180000, 'new_status': 'available'},
   {'timestamp': 1563784680000, 'new_status': 'in-use'},
   {'timestamp': 1563800880000, 'new_status': 'available'},
   {'timestamp': 1563802560000, 'new_status': 'in-use'},
   {'timestamp': 1563815580000, 'new_status': 'available'},
   {'timestamp': 1563817200000, 'new_status': 'in-use'},
   {'timestamp': 1563826500000, 'new_status': 'available'},
   {'timestamp': 1563872520000, 'new_status': 'in-use'},
   {'timestamp': 1563884100000, 'new_status': 'available'},
   {'timestamp': 1563887700000, 'new_status': 'in-use'},
   {'timestamp': 1563896820000, 'new_status': 'available'},
   {'timestamp': 1563958500000, 'new_status': 'in-use'},
   {'timestamp': 1563969360000, 'new_status': 'available'},
   {'timestamp': 1563976320000, 'new_status': 'in-use'},
   {'timestamp': 1563983820000, 'new_status': 'available'},
   {'timestamp': 1563984000000, 'new_status': 'in-use'},
   {'timestamp': 1563989520000, 'new_status': 'available'},
   {'timestamp': 1563992160000, 'new_status': 'in-use'},
   {'timestamp': 1563999780000, 'new_status': 'available'},
   {'timestamp': 1564046640000, 'new_status': 'in-use'},
   {'timestamp': 1564050660000, 'new_status': 'available'},
   {'timestamp': 1564050720000, 'new_status': 'in-use'},
   {'timestamp': 1564082400000, 'new_status': 'available'},
   {'timestamp': 1564085340000, 'new_status': 'in-use'},
   {'timestamp': 1564096020000, 'new_status': 'available'},
   {'timestamp': 1564135140000, 'new_status': 'in-use'},
   {'timestamp': 1564146060000, 'new_status': 'available'},
   {'timestamp': 1564149180000, 'new_status': 'in-use'},
   {'timestamp': 1564160400000, 'new_status': 'available'},
   {'timestamp': 1564166040000, 'new_status': 'in-use'},
   {'timestamp': 1564171380000, 'new_status': 'available'},
   {'timestamp': 1564231020000, 'new_status': 'in-use'},
   {'timestamp': 1564237020000, 'new_status': 'available'},
   {'timestamp': 1564237680000, 'new_status': 'in-use'},
   {'timestamp': 1564249020000, 'new_status': 'available'},
   {'timestamp': 1564249080000, 'new_status': 'in-use'},
   {'timestamp': 1564251540000, 'new_status': 'available'},
   {'timestamp': 1564305540000, 'new_status': 'in-use'},
   {'timestamp': 1564314780000, 'new_status': 'available'},
   {'timestamp': 1564393740000, 'new_status': 'in-use'},
   {'timestamp': 1564405860000, 'new_status': 'available'},
   {'timestamp': 1564410000000, 'new_status': 'in-use'},
   {'timestamp': 1564421760000, 'new_status': 'available'},
   {'timestamp': 1564476240000, 'new_status': 'in-use'},
   {'timestamp': 1564492920000, 'new_status': 'available'},
   {'timestamp': 1564495320000, 'new_status': 'in-use'},
   {'timestamp': 1564498860000, 'new_status': 'available'},
   {'timestamp': 1564499460000, 'new_status': 'in-use'},
   {'timestamp': 1564502580000, 'new_status': 'available'},
   {'timestamp': 1564508220000, 'new_status': 'in-use'},
   {'timestamp': 1564509900000, 'new_status': 'available'},
   {'timestamp': 1564574880000, 'new_status': 'in-use'},
   {'timestamp': 1564579980000, 'new_status': 'available'},
   {'timestamp': 1564586460000, 'new_status': 'in-use'},
   {'timestamp': 1564594380000, 'new_status': 'available'},
   {'timestamp': 1564658280000, 'new_status': 'in-use'},

In [42]:
# Define batch size
batch_size = 10 

# Insert documents in batches
try:
    for i in range(0, len(sorted_evse_docs), batch_size):
        batch = sorted_evse_docs[i:i+batch_size]
        evse_status.insert_many(batch)
        print(f"Processed {i + len(batch)} out of {len(sorted_evse_docs)} records successfully.")
        time.sleep(1)  # Optional: add a short delay to reduce system load (if necessary)
except Exception as e:
    print("Failed to bulk insert into evse_status:", e)

print("All documents have been inserted successfully.")

Processed 10 out of 48 records successfully.
Processed 20 out of 48 records successfully.
Processed 30 out of 48 records successfully.
Processed 40 out of 48 records successfully.
Processed 48 out of 48 records successfully.
All documents have been inserted successfully.

# Process Stations Data

In [ ]:
# Read the CSV file into a dataframe
stations_file_path = 'data/g6stations.csv'
s_df = pd.read_csv(stations_file_path)

# Handle missing values (NaN) in the dataframe
s_df = s_df.fillna('')

# Print the dataframe
print(s_df.shape[0])
for column in s_df.columns.tolist():
    print(column)

In [ ]:
import logging

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [ ]:
# Print the dataframe
print(s_df.shape[0])
# Assuming your dataframe is named df and the relevant columns are 'Street Address', 'City', and 'State'
grouped = s_df.groupby(['Street Address', 'City', 'State']).size()

# DataFrame with counts
counts_df = grouped.reset_index(name='Count')

# Addresses with only one entry
single_entry_addresses = counts_df[counts_df['Count'] == 1]

# Addresses with multiple entries
multiple_entries_addresses = counts_df[counts_df['Count'] > 1]

# Count unique Latitude and Longitude combinations
lat_lons = s_df.groupby(['Latitude', 'Longitude']).ngroups

# Display the results
print(f"Number of addresses with a single entry: {len(single_entry_addresses)}")
print(f"Number of addresses with multiple entries: {len(multiple_entries_addresses)}")
print(f"Number of unique lat-lons: {lat_lons}")

In [ ]:
# Remove Palo Alto stations because they are already accounted for
s_df = s_df[~s_df['ZIP'].between(94301, 94306)]

In [ ]:
# Print the dataframe
print(s_df.shape[0])
# Assuming your dataframe is named df and the relevant columns are 'Street Address', 'City', and 'State'
grouped = s_df.groupby(['Street Address', 'City', 'State']).size()

# DataFrame with counts
counts_df = grouped.reset_index(name='Count')

# Addresses with only one entry
single_entry_addresses = counts_df[counts_df['Count'] == 1]

# Addresses with multiple entries
multiple_entries_addresses = counts_df[counts_df['Count'] > 1]

# Count unique Latitude and Longitude combinations
lat_lons = s_df.groupby(['Latitude', 'Longitude']).ngroups

# Display the results
print(f"Number of addresses with a single entry: {len(single_entry_addresses)}")
print(f"Number of addresses with multiple entries: {len(multiple_entries_addresses)}")
print(f"Number of unique lat-lons: {lat_lons}")